body {
    margin: 0;
    padding: 0;
    background: white; /*#ccc */
}

.main-wrapper {
    width: 690px;
    margin:0 auto;

}

.main-wrapper h1 {
    text-align: center;
}



/* Naviagation bar */
.nav ul {
    list-style: none;
    background-color: #444444;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-bottom: 1px solid #888;
}

.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    float: left;
}

.nav a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
}

.nav a:hover {
    background-color: #888888;
    transition: .3s background-color;
}

.nav a:active {
    background-color: #fff;
    color: #444;
    cursor: default
}

/* Table styling */
table {
    border-collapse: collapse;
    border: 1px solid lightgray;
    overflow-x:auto;
    background-color: #f4f7f8;
}

tbody tr:nth-child(2n) {
    background-color: lightsteelblue;
}

tbody tr:hover {
    background-color: #555555;
    color: white;
}

th {
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
}

td {
    border-top: 1px solid honeydew;
}

th, td {
    padding: 5px 10px 5px 10px; /* top, right, bottom, left*/
}

/* Input form */

.form-addbook {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #f4f7f8;


}

.form-addbook h1 {
    background-color: #444444;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.form-addbook input[type="text"],
.form-addbook input[type="date"],
.form-addbook input[type="datetime"],
.form-addbook input[type="email"],
.form-addbook input[type="number"],
.form-addbook input[type="search"],
.form-addbook input[type="time"],
.form-addbook input[type="url"],
.form-addbook textarea,
.form-addbook select
{
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.form-addbook input[type="text"]:focus,
.form-addbook input[type="date"]:focus,
.form-addbook input[type="datetime"]:focus,
.form-addbook input[type="email"]:focus,
.form-addbook input[type="number"]:focus,
.form-addbook input[type="search"]:focus,
.form-addbook input[type="time"]:focus,
.form-addbook input[type="url"]:focus,
.form-addbook textarea:focus,
.form-addbook select:focus
{
    box-shadow: 0 0 5px #888888;
    padding: 3%;
    border: 1px solid #444444;
}

.form-addbook input[type="submit"],
.form-addbook input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    margin-top: 1em;
    padding: 3%;
    background-color: #444444;
    border-bottom: 0;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}
.form-addbook input[type="submit"]:hover,
.form-addbook input[type="button"]:hover{
    background-color: #555555;
}

.form-addbook label {
    display: block;
    float: left;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
}

.error {
    font-size: 14px;
    color: orangered;
}

/* Search Wrapper */

.search-wrapper {
    float: right;
    margin-bottom: 5px;
}

.search-wrapper form {
}

.search-wrapper input[type="text"] {
    width: 250px;
    padding:8px 15px;
    background-color:#f4f7f8;
    border:1px solid #cccccc;
}

.search-wrapper input[type="submit"] {
    width: 100px;
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #444444;
    background-color:#444444;
    color:#fafafa;
}

.search-wrapper input[type="button"]:hover {
    background-color:#555555;
    color:white;
}

/* Header image */
div#header-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

div#header-img img{
    width: 100%;
    margin-top: -200px;
}


#deleteButton {
    width: 15em;
    position:relative;
    padding:6px 15px;
    margin-top: 5px;
    border:2px solid #444444;
    background-color:#444444;
    color:white;
}

.spanFormat {
    display: inline-block;
    padding-right: 5px;
}

/* "Hand" cursor when hovering submit and regualr input buttons*/
input[type="submit"]:hover,
input[type="button"]:hover {
    cursor: pointer;
    background-color:#555555;
}

.header {
    width: 100%;
    background-color: black;
}

.header img {
    height: 150px;
    margin-top: 10px;
    margin-left:10px;
    margin-bottom:10px;
}